

    <div class="large-12 columns" style="background:#6842f4;height: 100px;">
      <p></p>
    </div>

    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="main-menu">
      <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
        <% @cates.each do |cate|%>
        <li class="has-submenu"><%= link_to cate.cate_name, category_path(cate.id) %> </li>
        <% end %>

      </ul>
    </div>
    <br>

    <div class="row">
      <div class="medium-8 columns">
        <p><img src="http://placehold.it/900x450&text=Promoted Article" alt="main article image"></p>
      </div>
      <div class="medium-4 columns">
          <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image" alt="advertisement for deep fried Twinkies"></p>
          <p><img src="http://placehold.it/400x200&text=Other cool article" alt="article promo image"></p>
      </div>
    </div>

<div class="row">
  <div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
    <article>
        <div class="row">
          <div class="large-6 columns">
            <p><img src="http://placehold.it/600x370&text=Look at me!" alt="image for article" alt="article preview image"></p>
          </div>
            <div class="large-6 columns">
              <h5><a href="#">'Death Star' Vaporizes Its Own Planet</a></h5>
                <p>
                  <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                  <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                  <span><i class="fi-comments"> 6 comments</i></span>
                </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
            </div>
        </div>
    </article>
  </div>
</div>

<footer>
  <div class="large-12 columns text-center" style="background:#b6b6b6;">
    <div class="large-4 columns">
      <h5>Team 2 Website</h5>
      <p>Lorem molestiae aspernatur sequi aliquam.</p>
    </div>
    <div class="large-4 columns">
      <h5>Subscriber</h5>
      <p>Lorem molestiae aspernatur sequi aliquam.</p>
    </div>
    <div class="large-4 columns">
      <h5>About Us</h5>
      <p>Lorem molestiae aspernatur sequi aliquam.</p>
    </div>
    <p class="text-center">
      Copyright &copy;2016 All Right Reserved Designed By Team 3
    </p>
  </div>
</footer>
